Package: bdsup2sub
Version: [[project.version]]
Section: misc
Priority: optional
Architecture: all
Recommends: default-jre
Maintainer: Miklos Juhasz <juhasz.miklos.1@gmail.com>
Uploader: Zezheng Wu <zzwu@zju.edu.cn>
Distribution: development
Homepage: https://github.com/mjuhasz/BDSup2Sub/wiki
Description: A tool to convert and tweak bitmap based subtitle streams
